/* FLASH/FORM MESSAGES */
#error_explanation,
.form-messages,
#notice {
  @include text;
  @include font1;
  padding: 12px 12px 12px 12px;
  margin: 12px 0px 24px 0px;
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
}

#error_explanation .form-message-title,
.form-messages .form-message-title {
  @include title(#C00);
  @include font1;
  margin: 0px 0px 0px 0px;
}

#error_explanation .form-message-items,
.form-messages .form-message-items {
  list-style: disc inside;
}

#error_explanation,
.form-messages.error {
  color: #C00;
  background: #FFEEEE;
}

#notice,
.form-messages.success {
  color: #3C3;
  background: #DDFFDD;
  font-weight: bold;
}
